.EduClass {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Lessons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-inline: 40px;
  .Lesson {
    display: flex;
    gap: 30px;
  }
}
.Unit_Page {
  padding-inline: 20px;
}
