:root {
  --primary: #55d99c;
  --secondary: #c9d3df;
  --field: #b0d9ff;
  --text: #202c4b;
  --subtext: #9d9d9d;
  --label: #0d5190;
  --value: #6a7287;
  --bg: rgb(255, 255, 255);
  --bg2: #f4f7fe;
  --bg3: rgba(255, 255, 255, 0.82);
  --border-color: #b0d9ff;
  --border-color-2: #e9edf4;
  --shadow: rgba(0, 0, 0, 0.15);
  --white: white;
  --bgSideBar: #0f0c1c;
  --textSideBar: #ffffff;
  --sideBarWidth: 17.5vw;
  --sideBarWidthClosed: 80px;
  --sideBarMinWidth: 250px;
  --sideBarSpace: 1%;
  --navBarHeight: 80px;
  --links: #25638f;
  --button: #2d3748;
  --layoutPadding: 3%;
  --border-radius: 10px;

  --utils_color_one: #fb7d5b;
  --utils_color_tow: #fcc43e;

  --presence: #31ce83;
  --absence: #ce3131;
  --lateArrival: #f0e43b;
  --earlyDeparture: #3d5ee1;
  --warning: #e93553;

  --bg4: #e6e5e5;
  --borderColor: #ffffff91;
  --opacity: #bcbcbc;
  --fieldHeight: 40px;
}
