div .ant-picker-dropdown .ant-picker-year-panel-container {
  min-width: 100%;
}

/* Division */
.ant-picker-dropdown .ant-picker-panel-layout > div {
  min-width: 100%;
}

/* Ant picker panel */
.ant-picker-dropdown div .ant-picker-panel {
  min-width: 100%;
}

/* Ant picker year panel */
.ant-picker-dropdown div .ant-picker-year-panel {
  min-width: 100%;
}
