.Auth {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;
  .In_Auth {
    z-index: 2;
    padding-top: 0px;

    > header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: var(--primary);
      padding: 15px;
      border-radius: 10px  10px 0px 0;
      color: var(--white);
    }
  }

  .AuthForm {
    height: 450px;
    width: 700px;
    min-width: 300px;

    // box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 32px 0px #080f3414;

    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 0 0px 10px 10px;
    gap: 10px;
    .login_logo_container{
      display: flex;align-items: center;justify-content: space-between;
      width: 100%;
    }
    .AuthInput {
      min-width: 100% !important;
      margin-bottom: 30px;
      .passwordInput,
      .Input {
        border-radius: 5px !important;
        border-color: rgba(128, 128, 128, 0.152);
        height: 40px;
      }
    }
    .AuthSelect {
      min-width: 100% !important;
      .Select {
        height: 40px;
      }
      .ant-select-single.ant-select-lg {
        width: 100%;
      }
    }
    .auth_submit_button {
      width: 100%;
      @include Flex;
      text-align: center;
      color: var(--white);
      background: var(--primary);
      margin-top: 10px;
      border: none;
      padding: 12px 0;
      border-radius: 10px;
      font-size: 18px;
    }
  }
  .form-label {
    font-size: 20px;
    color: #202c4b;
  }
}
/* Remove autofill background color */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/* Ant picker year panel container */
